.intro{
    justify-content: start;
    align-items: center;
    position: relative;
    top: -70vh;
    left: 10vh;
    color: white;
}

.overlay{
    border-image: linear-gradient(
        hsla(240, 100%, 84%, 0.6)
        hsl(0, 100%, 58%)
    )   ;
}
.background{
    z-index: -99;
}

.buttonA{
    background-color: aqua;
    margin-top: 2vh;
    padding: 3vh;
    border-radius: 3vh;
}